<style>
    .createPostContiner {
        background-color: cornflowerblue;
        max-width: fit-content;
        padding: 1rem;
        border-radius: 12px;
        margin: 0 auto;
        text-align: center;
        position: sticky;
        top: 1%;
        z-index: 1001;

        & .onMindBtnsContainer {
            display: flex;
            gap: 1rem;

            & .createPostBtn {
                border: none;
                border-radius: 8px;
                background-color: rgb(191, 207, 240);
                padding: 0.5rem 1rem;
                cursor: pointer;

                &:hover {
                    opacity: .8;
                }
            }
        }
    }



    .modal {
        z-index: 10002;
        border: 1px solid pink;
        display: none;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        width: 100%;
        height: 100%;
        position: fixed;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
        left: 0;
        top: 0;

        & .modalContent {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            border-radius: 18px;

            & .modalForm {

                & textarea {
                    resize: none;
                }

                & button {
                    margin-top: 1rem;
                }
            }
        }

        & .closeModal {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;

            &:hover,
            &:focus {
                color: #000;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }

    @media screen and (min-width: 600px) {
        .modalContent {
            max-width: 60%;
        }

        .modalForm {
            max-width: 80%;
            margin: 0 auto;
        }
    }
</style>
<div class="createPostContiner">
    <div class="CreatePostTitle">What's on your mind, <%= locals.user?.f_name %>?

    </div>
    <hr>
    <div class="onMindBtnsContainer">
        <button class="createPostBtn">New post</button>
        <button class="createPostBtn postsType">My posts</button>
    </div>
</div>

<div class="modal">
    <div class="modalContent">
        <span class="closeModal">&times;</span>
        <form action="/createPost" method="post" class="modalForm">
            <label for="title">title: </label>
            <input type="text" name="title" id="title" required>
            <label for="content">Content: </label>
            <textarea name="content" id="content" required rows="10" cols="10" placeholder="1000 characters max."
                maxlength="1000"></textarea>
            <button type="submit" class="submitPostBtn"> Post </button>
        </form>

    </div>

</div>

<!-- need a data attribute to pass the user_id to another script for showing own msgs -->
<div id="user-data" data-user-id="<%= user.id %>"></div>

<script>

    // modal script
    const AddPostBtn = document.querySelector('.createPostBtn');
    const NewPostModal = document.querySelector('.modal');
    const closeModal = document.querySelector('.modal span');

    AddPostBtn.onclick = () => {
        NewPostModal.style.display = 'flex';
    }

    closeModal.onclick = () => {
        NewPostModal.style.display = 'none';
    }

    //close modal when click outside of content.
    window.onclick = function (event) {
        if (event.target == NewPostModal) {
            NewPostModal.style.display = "none";
        }
    }
    ////////////////


    // disabled form submit after submit.
    document.querySelector('.modalForm').addEventListener('submit', function () {
        document.querySelector('.submitPostBtn').disabled = true;
    })

    const myPostBtn = document.querySelector('.postsType')

    myPostBtn.onclick = () => {
        const AllMsgs = document.querySelectorAll('.msgContainer');

        const userId = document.getElementById('user-data').dataset.userId;



        if (myPostBtn.textContent == 'My posts') {
            AllMsgs.forEach(msg => {
                if (msg.classList.contains(`user_id_${userId}`)) {
                    msg.style.display = 'block';
                } else {
                    msg.style.display = 'none';
                }
            })
            myPostBtn.textContent = 'All posts'
        } else {
            AllMsgs.forEach(msg => {
                msg.style.display = 'block';
                myPostBtn.textContent = 'My posts'
            })
        }
    }
</script>