header {
  background: linear-gradient(rgb(158, 158, 180), rgb(138, 153, 148));
  position: sticky;
  top: -124px;
  z-index: 1002;
  & .menu {
    // padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    & .logo {
      margin: 0 auto;
      font-size: 1.4rem;
      display: flex;
      gap: 1rem;
      align-items: center;
      font-family: "Courier New", Courier, monospace;

      & img {
        margin-top: 1rem;
        max-width: 100%;
        min-width: 80px;
        max-height: 100px;
        border-radius: 20px;
        // margin-right: auto;
        border: 2px solid white;
      }
    }

    & .links {
      display: flex;
      gap: 0.5rem;
      justify-content: space-around;
      width: 100%;

      & ul {
        display: flex;
        gap: 0.7rem;
        border: 0.1px solid white;
        border-radius: 12px;
        padding: 1rem;
        list-style: none;
        align-items: center;
        justify-content: center;
        white-space: nowrap;
        overflow: hidden;

        & a {
          text-decoration: none;
          color: rgb(49, 46, 46);
        }
      }
    }
  }
}
@media screen and (min-width: 500px) {
  header {
    top: 0;
    & .menu {
      flex-direction: row;
      gap: 4rem;

      & .links {
        width: 60%;
        gap: 2rem;
        & ul {
          gap: 2rem;
          font-size: 1.5rem;

          & a {
            &:hover {
              text-decoration: underline;
              opacity: 80%;
            }
          }
        }
      }
    }
  }
}

.goldMemberDiv {
  width: fit-content;
  height: max-content;
  box-shadow: 0.8px 0.8px 6px 2px gold;
  position: fixed;
  bottom: 0;
  left: 5%;
  margin-bottom: 10px;
  background-color: rgb(59, 59, 58);
  padding: 1rem;
  border-radius: 12px;
  text-decoration: none;
  color: rgba(230, 182, 25, 0.774);
  font-weight: 800;
  z-index: 1001;

  &:hover {
    opacity: 0.95;
  }
  &:active {
    scale: 1.1;
  }
}

.goldMemberModal {
  display: none;
  height: 100%;
  width: 100%;
  // z-index: 1001;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);

  & .goldMemberContent {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  & .closeModal {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;

    &:hover,
    &:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 500) {
  .goldMemberDiv {
    padding: 0;
    display: none;
  }
}
