<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs',{title: 'OOPS...' }) %>

    <body>
        <%- include('../partials/header.ejs') %>
            <h1>It seems that you are going to a place no one have been before.</h1>
            <h3>Somthing broke...</h3>

    </body>

</html>