<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head.ejs', {title:'Who said that!?' }) %>

    <body>
        <%- include('../partials/header') %>
            <h1>hello <%= user?.username || null%>
                    <% if (user?.admin) { %>
                        <p> you've got ADMIN privileges. </p>
                        <% } %>
            </h1>
    </body>

</html>